<div class="c-component1">
  <p title="{{ text }}">
    text from props : <b>{{ text }}</b>
  </p>

  <div class="btn-part">
    <button class="btn reset" (click)="reset()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
      >
        <path
          fill="currentColor"
          d="M18 28A12 12 0 1 0 6 16v6.2l-3.6-3.6L1 20l6 6l6-6l-1.4-1.4L8 22.2V16a10 10 0 1 1 10 10Z"
        />
      </svg>
    </button>
    <button class="btn" (click)="decrease()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path fill="currentColor" d="M19 12.998H5v-2h14z" />
      </svg>
    </button>
    <input type="number" [(ngModel)]="number_value" name="number_value" />
    <button class="btn" (click)="increase()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path fill="currentColor" d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6h-2Z" />
      </svg>
    </button>
  </div>
</div>
